{
    "presets": [
        [
            "env",
            {
                "useBuiltIns": true
            }
        ]
    ],
    "plugins": [
        ["babel-plugin-typescript-to-proptypes", { "forbidExtraProps": true }]
    ]
}
